<!DOCTYPE html>
<html>
  <head>
    <title>Session</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="input-text login">
      <h1>Welcome to Session</h1>
      <a href="/auth/google">Login with Google</a>
    </div>
  </body>
</html>
