body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.locater {
  text-align: center;
  width: 80vmin;
  margin: 8vmin auto 2vmin;
  padding: 2vmin;
  border: 3px solid black;
  border-radius: 2vmin;
}

div.feed {
  width: 140vmin;
  margin: 8vmin auto 2vmin;
  padding: 2vmin;
  border: 3px solid black;
  border-radius: 2vmin;
}

div.feed a {
  color: white;
}


nav {
  height: 8vmin;
  font-size: 3vmin;
  background-color: black;
}

nav div.user {
  color: white;
}

div.small {
  background-color: lightblue;
}

div.medium {
  background-color: lightseagreen;
}

div.large {
  background-color: red;
}

div.inner {
  padding-left: 4vmin;
}

div.new {
  text-align: center;
  margin: 8vmin auto;
  padding: 0vmin;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
  width: 120vmin;
  border: 3px solid black;
  border-radius: 2vmin;
}

div.secret {
  display: none;
}

table {
  padding-left: 0;
}

td {
  font-size: 3vmin;
}

div.inputs {
  display: grid;
  grid-gap: 2vmin;
  grid-template-columns: repeat(2, minmax(auto, 40vmin));
  justify-content: center;
  font-size: 3vmin;
  padding-bottom: 2vmin;
}

nav.footer {
  color: white;
  height: 6vmin;
}

nav.footer p {
  margin-bottom: 0;
}

div.scroll {
  height: 100vmin;
  overflow: scroll;
}

.caption-start {
  border-top: 1px solid black;
}

.caption-end {
  border-bottom: 1px solid black;
}

div.comment {
  width: 100vmin;
  margin: 2vmin auto 0vmin;
  padding: 2vmin;
  border: 2px solid black;
  border-radius: 2vmin;
}