<%- include('../partials/header') %>

<h3>HIIIIIIII</h3>

<form action="/posts" method="POST">
    <label>Say something cool</label>
    <input type="text" name="description">
    <label>When?</label>
    <input type="datetime-local" name="date">
    <button type="submit">Submit Session</button>
</form>


<%- include('../partials/footer') %>